<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />

<%= link_to "New Document", new_doc_path, class: "btn btn-primary" %>
<br />
<br />

<!-- div that holds -->
 <div class="comment-valve">
 	<div class="form-group">
 	    <label for=""></label>
 		<textarea class="form-control" rows="10" cols="100" placeholder="Document data will be displayed here data will be displayed here/You can paste data here "></textarea>
 	</div>
 </div>
 <br />
 <br />
 <br />

<!-- button to check for plagiarism -->
  <div class="check-plagiarism">
    <button class="btn btn-danger">Scan for Plagiarism</button>
  </div>

 <!-- footer -->
  <footer class="footer-bottom">
  	 <p>&copy All right reserved | 2017</p>
  </footer>