<% provide(:title ,"Home | Antiplagiarism") %>

<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<br/>

<%=link_to "New Document", new_doc_path, class: "btn btn-primary" %>
<br/>

<%=link_to "History", docs_history_url, class: "btn btn-link" %>
<br />
<br />
<br />

<!-- button to check for plagiarism -->
<div class="check-plagiarism">
  <%= link_to 'scan for plagiarism', docs_compare_path,:class => 'btn btn-danger' %>
</div>

<!-- footer -->
<footer class="footer-bottom">
  <p>&copy All rights reserved | 2017</p>
</footer>
