<% provide(:title ,"Home | Antiplagiarism") %>

<style type="text/css">
	.footer-bottom{
		margin-top: 150px;
	}
</style>
 <!-- div that holds the link tag -->
 <div class="link-valve">
  <div class="form-group">
    <input type="text" class="form-control link-control" id="formGroupExampleInput" placeholder="Enter website URL">
    <button class="btn btn-info btn-pos">download</button>
  </div>
 </div>
 
 <!-- div that holds -->
 <div class="comment-valve">
 	<div class="form-group">
 	    <label for=""></label>
 		<textarea class="form-control" placeholder="Paste text here..."></textarea>
 	</div>
 </div>

  <div class="doc-upload">
    <input type="file" name="upload" style="margin-bottom: 2px;">
    <button class="btn btn-success">Upload...</button>	
  </div>

  <div class="check-plagiarism">
    <button class="btn btn-danger">Scan for Plagiarism</button>
  </div>

  <!-- div for the log -->
  <div class="jumbotron">
  	<h3 style="margin-top: -40px;float: left;">Log:</h3>
  </div>

  <!-- footer -->
  <footer class="footer-bottom">
  	 <p>&copy All right reserved | 2017</p>
  </footer>


